


@media screen and (min-width: 1024px) {
    .catagory
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        margin: 40px auto;
        background-color: #f0f0f0;
        /* padding: 10px; */
        width: 40%;
        
    }
    
    .catagory-list
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px auto;
        gap: 15px;
        width: 400px;
       
    }
}
   
    @media(max-width: 1023px)
    {
        
    .catagory
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        margin: 40px auto;
        background-color: #f0f0f0;
        /* padding: 10px; */
        width: 40%;
        
    }
    
    .catagory-list
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px auto;
        gap: 15px;
        width: 80%;
       
    }
    }
#btn
{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

button
{
    padding: 10px 20px;
    border-radius: 25px !important;
    border: none;
    background-color: #043b75;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 90%;
    
    
}
button:hover
{
    background-color: #c9f070;
    color: rgb(7, 0, 0);
}
button:active
{
    background-color: #023f28;
    color: rgb(234, 235, 243);
}

.catagory-list select
{
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
  

    cursor: pointer;
    font-size: 12px;
}
@media screen and (min-width:700px) {
    .questions 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5px auto;
        width: 650px;
     display: none;
    }  
}

@media screen and (max-width:699px) {
    .questions 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px auto;
       
     display: none;
    }  
}
.info
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: aliceblue;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(241, 171, 171, 0.5);
    margin: 20px auto;
    padding: 5px 10px;
    width: 90%;
   
}

.question-box
{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    margin: 5px auto;
    gap: 15px;
    width: 90%;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.options
{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    margin: 5px auto;
    gap: 15px;
    width: 90%;
   
    padding: 10px 20px;
   
    
}

.suboption
{
 display: flex;
 justify-content: left;
 gap: 15px;
   cursor: pointer;
      width: 90%;
   background-color: rgb(247, 245, 234);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.suboption:hover
{
    background-color: #ccdef1;
    color: rgb(10, 46, 207);
}
.suboption:active
{
    background-color: #5d97d6;
    color: rgb(5, 17, 90);
}